body{
    background-image: url(/imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
  
    }
    ::selection {
        background-color: gray;
      }
      
      .container{
       height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      display: grid;
      grid-template-columns: repeat(13, 100px);
        color: white;
        margin-top: 30px;
       
      }
      
      .container1{
        margin: 0 auto;
        display: flex;
        grid-template-columns: repeat(13, 100px);
        justify-content: center;
        align-items: center;
        margin-top: -80px;
        margin-left: -904px;
        color: white;
       
       
      }
      
      
      .form{
        width: 400px;
        height: auto;
        background-image: linear-gradient(to bottom, #424242, #212121);
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;
        grid-column: 5 / 9;
       
      }
      
      .form1{
        width: 400px;
        height: 800px;
        background-image: linear-gradient(to bottom, #424242, #212121);
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0.5rem;
        grid-column: 5 / 9;
        margin-top: -30px;
      }
      
      .title,.title1{
        color: wheat;
        margin: 3rem 0;
        font-size: 2rem;
        margin-top: -10px;
        text-align: center;
        border-radius: 10px;
         
      }
      
      .input,.input1{
        margin: 0.5rem 0;
        padding: 1rem 0.5rem;
        width: 20rem;
        background-color: inherit;
        color: wheat;
        border: none;
        outline: none;
        border-bottom: 1px solid wheat;
        transition: all 400ms;
        margin-left: 30px;
        margin-top: -30px;
      }
      .input:hover,.input1:hover{
        background-color: #424242;
        border: none;
        border-radius: 0.5rem;
      }
      .boton,.boton1{
        height: 3rem;
        width: 20rem;
        margin-top: 2rem;
        margin-bottom: 20px;
        background-color: wheat;
        border-radius: 0.5rem;
        border: none;
        font-size: 1.2rem;
        transition: all 400ms;
        cursor: pointer;
        box-shadow:
          0 0 10px antiquewhite,
          0 0 10px antiquewhite;
      }
      .boton:hover,.boton:hover{
        background-color: antiquewhite;
        box-shadow: none;
      }

      .btn{
     margin-left: 10px;
      }
      @media (max-width: 768px) {
        .card-container {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        .form {
            width: 80%; 
            max-width: 350px;
        }
    }
      @media (min-width: 1200px) {
        .card-container {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }